<div class="mb-3">
    <label for="dimension_h" class="form-label">Height(cm):</label>
    <input type="text" name="details[dimensions][height]" class="form-control" id="dimensions_height" min="1"
        max="9999999999" required>
    <div class="invalid-feedback">Please enter height !</div>
    <div class="valid-feedback">OK !</div>
</div>
<div class="mb-3">
    <label for="dimension_w" class="form-label">Width(cm):</label>
    <input type="text" name="details[dimensions][width]" class="form-control" id="dimensions_width" min="1"
        max="9999999999" required>
    <div class="invalid-feedback">Please enter width !</div>
    <div class="valid-feedback">OK !</div>
</div>
<div class="mb-3">
    <label for="dimension_l" class="form-label">Length(cm):</label>
    <input type="text" name="details[dimensions][length]" class="form-control" id="dimensions_length" min="1"
        max="9999999999" required>
    <div class="invalid-feedback">Please enter length !</div>
    <div class="valid-feedback">OK !</div>
</div>