<div class="mb-3">
    <label for="weight" class="form-label">product size (MB):</label>
    <input type="text" name="details[size_mb][size]" class="form-control" id="size_mb" min="1" max="9999999999"
        aria-describedby="weightHelp" required>
    <div class="invalid-feedback">Please enter size!</div>
    <div class="valid-feedback">OK !</div>
</div>