<div class="mb-3">
    <label for="weight" class="form-label">Weight (Kg):</label>
    <input type="text" name="details[weight][weight]" class="form-control" id="weight"
        aria-describedby="weightHelp" required
        pattern="^([1-9]{1}[0-9]{0,6}((\.{1}([0-9]{0,3}))|($))|[0]\.(([1-9][0-9]{0,2})|(([0][1-9][0-9])|([0][0][1-9])|([0][1-9]{1,2}))))">
    <div id="weightHelp" class="form-text">We'll never criticize your weight.</div>
    <div class="invalid-feedback">Please enter weight. (Allowed format: 65.855)</div>
    <div class="valid-feedback">OK !</div>
</div>